In [1]:
import pandas as pd

In [2]:
a = \
    [
        [1,2,3],
        [4,5,6],
        [7,8,9]
]

In [11]:
m = pd.DataFrame(a, columns = ["col1","col2","col3"], index = ["row1","row2","row3"])
m

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [12]:
m.loc["row3", "col1"]

7